<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User|management</title>
</head>
<body>
    <div class="user-container">
       <div class="head"><h2>User management system</h2>
          <div class="navbar">
            <ul>
                <li>Users</li>
                <li>about us</li>
                <li> Add users</li>
            </ul>
          </div>
       </div> 
        <div class="student-list">
      
        </div>
    </div>
</body>
</html>